{% extends 'base.html' %}

{% block content %}
<h1>{{ program.title }}</h1>
<a href="{{ program.url }}" target="_blank">Официальная страница программы</a>

<div class="card mt-4">
    <div class="card-body">
        <h3>Описание программы</h3>
        <p>{{ program.description }}</p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h3>Чему я научусь</h3>
        <p>{{ program.skills }}</p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h3>Преимущества программы</h3>
        <p>{{ program.advantages }}</p>
    </div>
</div>

<div class="card mt-3 mb-4">
    <div class="card-body">
        <h3>Перспективы после обучения</h3>
        <p>{{ program.prospects }}</p>
    </div>
</div>
{% endblock %}